.container {
  background-image: url('../assets/img/LandBack.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 126px;
  padding: 0 10vw;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  float: center;
}
.logo {
  padding: 40px 0px;
}
.logo_position {
  float : left;
}

.title {
  padding : 51px;
  display: flex;
  align-items: center;
}

.menu {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 20px;
  font-weight: bold;
  min-width: 150px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.iconSize {
  font-size: 30px;
  display: none;
  padding-top: 45px;
}
@media only screen and (max-width:768px) {
  .title {
    display : none
  }
  .iconSize {
    display: block;
  }
  .bars {
    display: block;
    padding : 51px;
    display: flex;
    align-items: center;
  }
}