 
.scene_1_container {
  background-image: url("../../assets/img/LandBack.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
}
.convert_text {
  padding-top: 155px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: lighter;
  font-size: 52px;
  line-height: 110%;
  color: #FFFFFF;
  padding-bottom:72px
}
.image{
  position: relative;
  left : -160px;
  width : 530px;

}
.bold {
  font-size: 66px;
  font-weight: 900;
}
.convert_strong {
  font-size: 60px;
}
.scene_2_container {
  background-color: #F6F6FA;
  padding-top: 53px;
  padding-bottom: 71px;
}
.introduce_text {
  margin-left: 58px;
  padding-top: 110px;
}
.introduce_content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #4F5258;
  padding-right: 10px;
}
.logo {
  height : 45px;
  margin-top: -15px;
}
.scene_4_container{
  background-color: #F6F6FA;
  padding-top: 70px;
  padding-bottom: 54px;
}
.cost_earning {
  margin-top: -50px;
}
.cost_earning_title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 110%;
  color: #1123FF;
  text-shadow: 0px 8px 12px rgba(56, 56, 56, 0.25);
  padding-bottom: 30px;
}
.cost_earning_content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #4F5258;
}
.introduce{
  height : 54px;
  margin-left: -10px;
  margin-bottom: 25px;
}
.Scene2 {
  width: 100%;
}
.Scene4{
  width : 90%
}
.scene_3_container{
  margin-top: -147px;
}
.membership_title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: #1C202B;
  padding-top: 66px;
  padding-left: 30px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.membershipCard1 {
  background: #16F1F0;
  border-radius: 10px 0 0 10px;
  width : 265px;
  height : 300px;
  box-shadow: 0px 10px 50px rgba(41, 46, 65, 0.3);
}
.membershipCard2 {
  background: #278AFD;
  width : 265px;
  height : 300px;
  box-shadow: 0px 10px 50px rgba(41, 46, 65, 0.3);  
}
.membershipCard3{
  background: #1D23FF;
  width : 265px;
  height : 300px;
  box-shadow: 0px 10px 50px rgba(41, 46, 65, 0.3);  
}
.membershipCard4{
  background: linear-gradient(265.41deg, #B88E6D 4.32%, #E8D9CA 97.03%);
  border-radius: 0px 10px 10px 0px;
  width : 265px;
  height : 300px;
  box-shadow: 0px 10px 50px rgba(41, 46, 65, 0.3);  
}
.center {
  text-align: center;
}
.center_items1 {
  padding-top: 10%;
}
.center_items {
  height:'100%';
  display : 'flex';
  align-items : 'center';
  position: relative;
  bottom: -30px;
}
.hSpace {
  padding-top: 50px;
}
.scene_5_container {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: -30px;
}
.star_text{
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 180%;
  color: #1C202B;
  padding : 64px 66px 0 66px
}
.dotSquare {
  position: relative;
  top : 65px;
  left : 295px;
  z-index: unset;
  width : 100px;
}
.dotSquare1 {
  position: relative;
  top : 60px;
  width : 100px;
}
.star_div {
  width: 880px;
  height: 240px;
  background: #5CE7E7;
  box-shadow: 10px 10px 10px rgba(56, 56, 56, 0.15);
  border-radius: 10px;
  z-index : -1;
  text-align: left;
  margin-top : -50px;
}
.video_placeholder {
  background: linear-gradient(0deg, rgba(75, 78, 82, 0.2), rgba(75, 78, 82, 0.2));
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(56, 56, 56, 0.15);
  margin-left: 30px;
  width : 460px;
  margin-left:85px
}
.convert_and_pay_text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #1C202B;
  padding-top: 30px;
  text-shadow: 0px 8px 12px rgba(56, 56, 56, 0.25);
}
.pay_detail {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #4F5258;
}
.star{
  padding : 52px;
}

.strong {
  color :blue;
  font-weight: bold;
}
.icon_div{
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 9px 16px rgba(56, 56, 56, 0.15);
  border-radius: 15px;
  margin-bottom: 40px;
}
.Scene5 {
  border-radius: 10px;
  width : 480px;
  text-shadow: 0px 8px 12px rgba(56, 56, 56, 0.25);
  padding-bottom: 50px;
  position: relative;
  left: 35px;
  z-index: -1;
}
.Scene5_title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 150%;
  text-align: center;
  color: #1C202B;
  text-shadow: 0px 8px 12px rgba(56, 56, 56, 0.4);
  padding-bottom: 47px;
}
.Scene5_title1 {
  display: none;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 150%;
  padding-top: 35px;
  color: #1C202B;
  text-shadow: 0px 8px 12px rgba(56, 56, 56, 0.25);
}
.Scene5_text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #4F5258;
  max-width : 450px;
  width : 420px;
  padding-left: 18px;
}
.Subscribe {
  background: #1123FF;
  box-shadow: 0px 9px 16px rgba(56, 56, 56, 0.15);
  border-radius: 0 5px 5px 0;
  width:180px;
  height: 50px;
  margin-top: 50px;
  padding-top: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscribe_input {
  border-radius: 5px 0 0 5px;
}
.Subscribe:hover{
  cursor: pointer;
}
.button {
  background: #F42C50;
  box-shadow: 0px 8px 12px rgba(56, 56, 56, 0.25);
  border-radius: 5px;
  width : 180px;
  height : 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 15px;
  position: relative;
  left: 360px;
}
.button_position{
  margin-top: 20px;
}
.button:hover {
  cursor: pointer;
}
.Scene5_text_position{
  padding-top: 40px;
  margin-left: 58px;
}
.Scene5_title2{
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  padding-left: 18px;
  color: #1C202B;
  min-width: 280px;
  margin-top:5px
}
.scene_7_container {
  background-image: url('../../assets/img/MonthBank.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vw;
  color: white;
  background-position: right;
  display: flex;
  align-items: center;
}
.scene7_text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 140%;
  color: #1C202B;
}
.scene_8_container {
  background-color: #1123FF;
  padding-top: 100px;
  margin-bottom: -5px;
}
.Scene8_download {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 130%;
  color: #FFFFFF;
}
.Scene8_text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 30px;
}
.Scene8_right {
  padding-left: 0px;
}
@media only screen and (max-width:1096px){
  .video_placeholder{
    position: relative;
    top : 0px;
    margin-left: 0;
  }
  .scene_3_container{
    margin-top: 58px;
  }

}

@media only screen and (max-width:990px) {
  .star_div {
    width: 100%;
    height: 100%;
    background: #5CE7E7;
    box-shadow: 10px 10px 10px rgba(56, 56, 56, 0.15);
    border-radius: 10px;
    z-index : -1;
    text-align: left;
    padding-bottom: 28px;
    margin-top : -50px;
  }
  .Scene5_title2 {
    padding-left: 0;
  }
  .Scene5_text {
    padding-left: 0;
  }
  .button {
    width : 160px;
    height: 45px;
    float: right;
  }
  .Scene5_text {
    min-width: 280px;
  }
  .Scene5 {
    left : 0px
  }
  .Scene5_title {
    display: none;
  }
  .Scene5_title1{
    display: block;
  }
  .dotSquare1 {
    display: none;
  }
  .container {
    padding : 0 1vw 0 2vw;
  }
  .convert_and_pay_text {
    font-size: 25px;
  }
  .star_text{
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 180%;
    color: #1C202B;
    padding-left: 66px;
  }
  .convert_title {
    font-family: 'Montserrat';
    max-width: 100%;
    font-style: normal;
    font-weight: 'normal';
    font-size: 60px;
    line-height: 110%;
    color: #FFFFFF;
    float: left;
    width: 696px;
  }
  .left {
    width:100vw
  }
  .right {
    padding-left: 2vw;
  }
  .image {
    width :464px;
  }
  .bold {
    font-size: 36px;
  }
}